{% extends "base_education0.html" %}
{% load static %}
{% load thumbnail %}

  {% block title %}
  <title>Education</title>
  {% endblock%}

{% block meta %}
  <meta name="robots" content="index,follow,all">
  <meta name="msapplication-TileColor" content="#eceff1">
  <meta name="msapplication-config" content="//dpaz9rouqy0e2.cloudfront.net/static/richie/favicon/browserconfig.fd69d581fd96.xml">
  <meta name="theme-color" content="#ffffff">
  <meta property="og:locale" content="en">
  <meta property="og:type" content="website">
  <meta property="og:site_name" content="Richie demonstration">
  <meta property="og:image" content="http://localhost:8080//dpaz9rouqy0e2.cloudfront.net/static/richie/images/logo.bc96dea393cb.png">
  <meta property="og:title" content="Home">
  <meta property="og:url" content="http://localhost:8080">
{% endblock %}

{% block links %}
  <link rel="apple-touch-icon" sizes="120x120" href="{% static 'images/apple-touch-icon.e3f5be308427.png' %}">
  <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/favicon-32x32.b0adf6b91841.png' %}">
  <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/favicon-16x16.bd459d491a1e.png' %}">
  <link rel="manifest" href="{% static 'images/site.57775445aa3a.webmanifest' %}">
  <link rel="mask-icon" href="{% static 'images/safari-pinned-tab.00983a824cb5.svg' %}" color="#f72c30">
  <link rel="shortcut icon" href="{% static 'images/favicon.bc906d84c4a9.ico' %}">
{% endblock %}

  {% block body_content %}
  {% endblock %}

