{% extends "base_checkcashingchicago.html" %}
{% load static %}

    {% block title %}
     <title>Member&#039;s Area - Chicago Financial Enterprise</title>
    {% endblock%}


    {% block body %}
     <body id="top" class="page-template-default page page-id-96 stretched lato lora " itemscope="itemscope" itemtype="https://schema.org/WebPage">
    {% endblock %}


    {% block body_content %}
    <div id="wrap_all">
   <header id="header" class=" header_color dark_bg_color  av_header_top av_logo_left av_main_nav_header av_menu_right av_slim av_header_sticky av_header_shrinking_disabled av_header_stretch_disabled av_mobile_menu_phone av_header_searchicon_disabled av_header_unstick_top_disabled av_seperator_big_border av_bottom_nav_disabled " role="banner" itemscope="itemscope" itemtype="https://schema.org/WPHeader">
       <a id="advanced_menu_toggle" href="#" aria-hidden="true" data-av_icon="" data-av_iconfont="entypo-fontello"></a>
       <a id="advanced_menu_hide" href="#" aria-hidden="true" data-av_icon="" data-av_iconfont="entypo-fontello"></a>
       <div id="header_main" class="container_wrap container_wrap_logo">
           <div class="container av-logo-container">
               <div class="inner-container">
                   <strong class="logo">
                       <a href="{% url 'checkcashingchicago:home' %}">
                           <img height="100" width="300" src="{{ company_obj.logo_image.url }}" alt="Chicago Financial Enterprise"/></a>
                   </strong>
                   <nav class="main_menu" data-selectname="Select a page" role="navigation" itemscope="itemscope" itemtype="https://schema.org/SiteNavigationElement">
                       <div class="avia-menu av-main-nav-wrap">
                           <ul id="avia-menu" class="menu av-main-nav">
                               <li id="menu-item-270" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-home menu-item-top-level menu-item-top-level-1">
                                   <a href="#about" itemprop="url">
                                       <span class="avia-bullet"></span>
                                       <span class="avia-menu-text">About</span>
                                       <span class="avia-menu-fx">
                                           <span class="avia-arrow-wrap">
                                               <span class="avia-arrow"></span>
                                           </span>
                                       </span>
                                   </a>
                               </li>
                               <li id="menu-item-271" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-home menu-item-top-level menu-item-top-level-2">
                                   <a href="#locations" itemprop="url">
                                       <span class="avia-bullet"></span>
                                       <span class="avia-menu-text">Locations</span>
                                       <span class="avia-menu-fx">
                                           <span class="avia-arrow-wrap">
                                               <span class="avia-arrow"></span>
                                           </span>
                                       </span>
                                   </a>
                               </li>
                               <li id="menu-item-333" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-home menu-item-top-level menu-item-top-level-3">
                                   <a href="#contact" itemprop="url">
                                       <span class="avia-bullet"></span>
                                       <span class="avia-menu-text">Contact</span>
                                       <span class="avia-menu-fx">
                                           <span class="avia-arrow-wrap">
                                               <span class="avia-arrow"></span>
                                           </span>
                                       </span>
                                   </a>
                               </li>
                           </ul>
                       </div>
                   </nav>
               </div>
           </div><!-- end container_wrap-->
       </div>
       <div class="header_bg"></div><!-- end header -->
   </header>
   </div>
    <div id="main" data-scroll-offset="88">
		<div class="container_wrap container_wrap_first main_color fullsize">
			<div class="container">
				<main class="template-page content  av-content-full alpha units" role="main" itemprop="mainContentOfPage">
					<article class="post-entry post-entry-type-page post-entry-96" itemscope="itemscope" itemtype="https://schema.org/CreativeWork">
						<div class="entry-content-wrapper clearfix">
							<header class="entry-content-header"></header>
							<div style="margin-top:90px" class="entry-content" itemprop="text">
								<form action="https://web.archive.org/web/20180817113521/http://checkcashingchicago.com/wp-login.php?action=postpass" class="post-password-form" method="post">
                                    <p>This content is password protected. To view it please enter your password below:</p>
									<p>
										<label for="pwbox-96">Password: <input name="post_password" id="pwbox-96" type="password" size="20"/></label>
										<input type="submit" name="Submit" value="Enter"/>
									</p>
								</form>
							</div>
							<footer class="entry-footer"></footer>
						</div>
					</article><!--end post-entry-->
					<!--end content-->
				</main>
			</div><!--end container-->
		</div><!-- close default .container_wrap element -->
        <!-- end main -->
	</div>
    {% endblock %}
