{% extends "base_education.html" %}
{% load static i18n cms_tags menu_tags sekizai_tags thumbnail %}


{% block title %}
<title>{{ course.course_name }}</title>
{% endblock%}

{% block body_content %}
<br>
<br>
<br>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<h1 style="color:blue">{% render_model course "course_name" %}</h1><br>
{% render_model course "image" %}
<img width="200px" height="160px" src="{{course.image.url}}">
<br>
{% render_model course "description" %}
<br>
amos
<br/>
<br/>amos

    <br/>
{% render_placeholder course.description %}
<br/>amos<br/>
{% endblock%}


{% block content %}

{% placeholder "header" %}
{% placeholder "content" %}

{% endblock content %}








